
extends layout

block append vars
  - bodyclass = 'article-detail'

block prepend title
  | #{ page.title + " - "}

block header
  include author
  h1= page.title
  | <div id="fb-root"></div>
  | <script>(function(d, s, id) {
  |  var js, fjs = d.getElementsByTagName(s)[0];
  |  if (d.getElementById(id)) return;
  |  js = d.createElement(s); js.id = id;
  |  js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1";
  |  fjs.parentNode.insertBefore(js, fjs);
  |}(document, 'script', 'facebook-jssdk'));</script>

block content
  article.article
    section.content!= typogr(page.html).typogrify()

block prepend footer
  div.hatena <a href="http://b.hatena.ne.jp/entry/#{locals.url}#{ page.url }" class="hatena-bookmark-button" data-hatena-bookmark-layout="standard-balloon" data-hatena-bookmark-lang="en" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
  div.fb <div class="fb-like" data-href="#{locals.url}#{ page.url }" data-layout="standard" data-action="like" data-show-faces="true" data-share="false"></div>
  div.nav
    a(href=contents.index.url) « Full blog

